body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h4, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
    font-weight: 500;
}

/* containers */

.container-fluid {
    padding: 7% 15%;
}

/* sections */

.colored-section{
    background-color: #ff4c68;
    color: #ffffff;
}

.white-section{
    background-color: #ffffff;
}

.big-heading{
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}


/* navigation-bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

/* download buttons */
.download-button {
    margin: 5% 3% 5% 0%;
}

/* title-section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* title-image */
.title-image {
    margin-left: 52px;
    width: 22%;
    transform: rotate(25deg);
    position: absolute;
    z-index: 0;
}


/* features */
#features {
    position: relative;
    z-index: 1;
}

.features-heading{
    font-size: 1.5rem;
    font-weight: 900;
}

.features-box {
    padding: 3.5%;
}

.icons {
    color: #ef8172;
    margin: 1rem;
    transition: all;
    transition-duration: 0.2s;
}

.icons:hover {
    color: #ff4c68;
}

/* testimonials */

#testimonials {
    background-color: #ef8172;
}  

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image {
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing */
#pricing {
    padding: 100px;
}

.card-heading{
    font-size: 1.5rem;
    font-weight: 900;
}

.price-text{
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}

.sign-up-btn {
    width: 100%;
}

.pricing-column {
    padding: 3% 2%;
}

/* footer */

.footer-icons{
    font-size: 25px;
    margin: 15px;
    color: black;
}

/* media-queries  */

@media (max-width : 1028px) {
    #title .container-fluid {
        text-align: center;
    }

    .title-image {
        padding-top: 15px ;
        position: static;
        width: 60%;
        transform: rotate(0deg);
        margin-left: 0px;
    }
}